{% load static %} <link rel="stylesheet" href="{% static "css/output.css" %}">

<footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
      <a href="/" class="hover:underline">Etenda</a>. Etenda is an online home goods, furniture, arts and more store. Contact us <a href="/contact">here </a>or in the contact
      us page to arrange an appointment
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
    >
      <li>
        <a href="{% url 'products:home'%}" class="hover:underline me-4 md:me-6">Home</a>
      </li>
      <li>
        <a href="{% url 'products:index'%}" class="hover:underline me-4 md:me-6">Products</a>
      </li>
      <li>
        <a href="{% url 'contactapp:contact'%}" class="hover:underline me-4 md:me-6">Contact</a>
      </li>
      <li>
        <a href="{% url 'products:about'%}" class="hover:underline">About</a>
      </li>
    </ul>
  </div>
</footer>
