#brand{
    margin-left: .3rem;
    padding: 1rem;
    border-right-style: dashed;
    height: 100%;
}

.footer-links > ul{
    list-style-type: none;
}

.footer-links > ul > li > a{
    color: white;
    text-decoration-line: none;

}

footer{
    position:relative;
    width:100%;
    bottom:0;
    background-color: #393939;
    color: white;
    text-align: center;
    display: flex;
    text-decoration: none;

}

.pick-location{
    padding: 1rem;
}