header{
    text-align: center;
    width: 100%;
    background-color:indianred;
    color: white;
}

header span{
    font-size: 2em;
}

.sub-header{

    border-color: black;
    display: flex;
    padding: 20px;
}

.sub-header nav{
    font-size: 0.9rem;
    width: 60%;
    position: relative;
    top: -10px;
    text-align: left;
}

.sub-header > nav > a img{
    width:40px;
    position: relative;
    top: 10px;
}

.sub-header > nav a{
    padding: 20px;
    text-decoration: none;
    color: white;
}


.search-container{
    width: 40%;
    background-color: white;
    border-radius: 20px;
}

.search-container form{
    position: relative;
    border-style: none;


}

.search-input{
    border-style: none;
    position: relative;
    width: 70%;
    right: 3%;
    padding: 8px;
}

.search-button{
    width: 10%;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    border-style: none;
    font-size: 1.2em;
    position: relative;
    left: 6%;

}

.sub-header > .sidebar{
    display: none;
    position: absolute;
}

.sub-header > #main{
    display: none;
    position: absolute;
}

@media screen and (max-width:767px){ 

    /* Header Subheader and Collapsible Sidebar */
    .sub-header > nav{
        display: none;
        position: absolute;
    }

    .sub-header > .sidebar{
        display: inline;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sub-header > .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        position: relative;
        right: 10px;
    }

    .sub-header > .sidebar nav a img{
        width:25px;

    }
    .sub-header > .sidebar > .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
      }

    .sub-header > #main {
        display: flex;
        transition: margin-left .5s;
        padding: 16px;
        position: relative;
      }

    .sub-header > .search-container{
        width: 70%;
        position: relative;
        height: 40px;
        top: 15px;
    }

    .search-input {
        border-style: none;
        position: relative;
        width: 70%;
        right: 0;
        padding: 0;
    }
    .search-button{
        width: 0%;
        border-radius: 20px;
        padding: 10px;
        background-color: white;
        border-style: none;
        font-size: 0.9em;
        position: relative;
        left: 0%;
    }
}