body{
    min-height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    text-align: center;
    width: 100%;
    background-color:indianred;
    color: white;
}

header span{
    font-size: 2em;
}

.sub-header{
    /* border-style: dashed; */
    border-color: black;
    display: flex;
    padding: 20px;
}

.sub-header nav{
    width: 60%;
    position: relative;
    top: 5px;
}

.sub-header > nav a{
    padding: 20px;
    text-decoration: none;
    color: white;
}


.search-container{
    width: 40%;
}

.search-container form{
    position: relative;

}

.search-input{
    width: 70%;
    border-radius: 10px;
    padding: 10px;

}

.search-button{
    width: 10%;
    border-radius: 10px;
    padding: 10px;

}


.product-list{
    width: 100%;

}
.product-list ul{
    list-style-type: none;
    padding: 20px;
    margin: 10px auto;
    text-align: center;
}

.product-list ul li{
    display: inline-flex;
    margin: 0 auto;
    padding: 15px;
}

.productContainer{
    
    height: 350px;
    width: 350px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5p;
    padding: 5px;
    margin: 10px;
    text-align: center;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 1px 1px 10px;

    
}

.productContainer img{

    align-items: center;
    max-width: 70%;
    max-height: 70%; /* Ensure the image doesn't exceed the height of the container */
    padding: 5px;
    margin: 2px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the image using translate */
    
}

.productContainer .title{
    overflow: hidden;
    text-overflow: ellipsis; /* Add ellipsis (...) for hidden overflow */
    white-space: nowrap; /* Prevent title from wrapping */
    max-width: 100%; /* Set a maximum width for the title */
    text-align: center;
    padding: 10px;
    color: black;
    
}



.productContainer span{
  
  position: absolute;
  top: 93%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 10px;
  color: black;
}

.pagination{
    position: relative;
    text-align: center;
    bottom: 20px;
}

footer{
    position:relative;
    width:100%;
    bottom:0;
    background-color: gray;
    color: white;
    text-align: center;
    display: flex;

}