<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Etenda Liquidations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "indexStyle.css" %}">

    </head>
    <body>

        <header>
            <span>Etenda Liquidations</span>
            <div class='sub-header'>
                <nav>
                    <a href="{% url 'products:home'%}">Home</a>
                    <a href="{% url 'products:index'%}">Products</a>
                    <a href="{% url 'products:contact'%}">Contact Us</a>
                    <a href="{% url 'products:about'%}">About Us</a>
                </nav>
                <div class="search-container">
                    <form action="{% url 'products:search' %}" method="get">
                        <input class='search-input' name="q" type="text" placeholder="Search...">
                        <button type="submit" class="search-button">&#x1F50E;</button>
                    </form>
                </div>
            </div>
        </header>


    <h1> About us </h1>

    <p>Welcome to [Your Company Name], Your Go-To Destination for Exceptional Finds and Unbeatable Prices! **In the heart of [Your Location], there's a closely-knit family that dreamed of creating something unique—a place where high-quality meets affordability, with a sprinkle of love and dedication. That dream bloomed into reality with [Your Company Name], a curated marketplace that embarks on a mission to bring you top-notch products at prices that keep your wallet happy. </p>
    <h2>**Our Journey**</h2>
    <p>It all started with a simple observation: Why does shopping for quality products have to mean breaking the bank? With that question in mind, [Founder's name/Our family] set out to provide a solution. We decided to leverage our passion for finding the best deals and our knack for selecting a diverse array of products to offer them to you, our valued customers. </p>
    <h2>Our Mission**</h2>
    <p>At [Your Company Name], we believe that everyone deserves to find their desired products without wrestling with hefty price tags. Our mission is simple yet profound—to handpick an assortment of exceptional products that cater to various needs and interests, and bring them to you at prices that can't be beaten. Our commitment goes beyond just savings; it's about creating a shopping experience that's both rewarding and delightful, where quality and care go hand in hand.</p>
    <h2>**Our Promise to You**</h2>
    <p>We understand that at the heart of every purchase is a trust that we strive to build and maintain. Here's what we promise to our wonderful customers:</p>
    <ul><li>    - **Family-first Service:** As a family-run business, we treat every customer as part of our extended family. You can expect friendly, personal, and attentive service every time you shop with us.</li>
        <li>    - **Unbeatable Prices:** Our unique approach allows us to offer you some of the best deals on the market. We're here to make sure you get more bang for your buck, without compromising on quality.</li>
        <li>    - **Exceptional Quality:** Every product in our collection is carefully selected to ensure it meets our high standards for quality. We're about making sure that you are delighted with every purchase.</li>
        <li>    - **A Custom, Curated Selection:** Unlike big-box retailers, our handpicked selection means we offer items that are unique, timely, and cater to your preferences and lifestyle.</li>
    </ul>
    <h2>**The Future is Bright**</h2>
    <p>We are more than just a business; we're a growing community of savvy shoppers who appreciate the value of a dollar and the importance of quality. As we continue to grow, our commitment to affordable shopping, customer care, and fostering a positive shopping environment remains steadfast.</p>
    <p>Looking forward, we are excited to keep expanding our product range, embracing more sustainable practices, and finding new ways to give back to the community that has supported us since day one.</p>
    <h2>**Join Our Family**</h2>
    <p>We invite you to explore our diverse collection and discover why so many have chosen [Your Company Name] as their trusted partner for amazing deals. Whether you're a long-time customer or just stumbled upon us today, we welcome you with open arms to our family.</p>
    <p>Let's embark on this journey together, where great finds meet great prices. Welcome to [Your Company Name], where shopping feels like coming home.</p>




    <footer>
        <div>
            <p>&copy; 2024 Etenda.</p>
        </div>
        <div>
            <ul>
                <li><a href="/terms">Terms of Service</a></li>
                <li><a href="/privacy">Privacy Policy</a></li>
                <!-- Add more links as needed -->
            </ul>
        </div>
    </footer> 
    
    <script src="" async defer></script>
</body>
</html>