<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Etenda Liquidations</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "detailStyle.css" %}">

    </head>
    <body>

        <header>
            <span>Etenda Liquidations</span>
            <div class='sub-header'>
                <nav>
                    <a href="{% url 'products:home'%}">Home</a>
                    <a href="{% url 'products:index'%}">Products</a>
                    <a href="{% url 'products:contact'%}">Contact Us</a>
                    <a href="{% url 'products:about'%}">About Us</a>
                </nav>
                <div class="search-container">
                    <form action="{% url 'products:search' %}" method="get">
                        <input class='search-input' name="q" type="text" placeholder="Search...">
                        <button type="submit" class="search-button">&#x1F50E;</button>
                    </form>
                </div>
            </div>
        </header>

        
        {% if productinfo.show_onStore == True%}
            
            <h1>{{productinfo.title_text}}</h1>
            <h3>Description</h3>
            <div id='description'>
            <p>{{productinfo.description_text}}</p>
            </div>
            <div class="Price">
                {% if productinfo.sold == False %}
                    <span>Price {{productinfo.price_number}}</span>
                {% else %}
                    <span>Sold Out!</span>
                {% endif %}
            </div>
            <p>Condition: {{productinfo.get_condition_display}}</p>
            {% if productinfo.images.all %}
                <div class='gallery-container'>
                    <div id='main-image'>
                        <img src="{{MEDIA_URL}}{{productinfo.images.all.0.image_url}}" alt= "{{ productinfo.images.all.0.alt_text}}" onclick="fullSizePic('{{MEDIA_URL}}{{productinfo.images.all.0.image_url}}')">
                    </div>
                    <div class='gallery-scrollable'>
                {% for image in productinfo.images.all %}
                    <div class='image-container'>    
                        <img src= "{{MEDIA_URL}}{{image.image_url}}" alt= "{{ image.alt_text }}" onclick="changeMainImage('{{MEDIA_URL}}{{image.image_url}}')">
                    </div>
                {% endfor %}
                    </div>
                </div>
            {% else %}
                <p>No images available</p>
            {% endif %}
        {% else %}
            <h2>Product not Found</h2>
        {% endif%}
        
            
        
        
      

        <footer>
            <div>
                <p>&copy; 2024 Etenda.</p>
            </div>
            <div>
                <ul>
                    <li><a href="/terms">Terms of Service</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <!-- Add more links as needed -->
                </ul>
            </div>
        </footer> 
        
        <script type="text/javascript" src="{% static "detail.js" %}" async defer></script>

    </body>
</html>