<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>LocalxDeal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/homeStyle.css" %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:ital">

    </head>
    <body>



        {% include "products/components/header.html" %}

        <div id='who'>
        <h2> Who are we </h2>
        <p> If you're in the Chicagoland Area, we've got something special just for you! We're a small marketplace offering open-box and slightly used items at unbeatable prices. While some boxes may show signs of wear, rest assured that every product undergoes thorough inspection before it reaches you, ensuring top-notch quality. Reach out to us via our contact page, and we'll gladly arrange a meeting to help you find the perfect items.</p>
        </div>

        <h2> Our lastest arrivals </h2>

        {% if latest_products %}
        <div class="scrollmenu">
        <ul>
            {% for product in latest_products %}

                <li>
                    <div class="productContainer">
                        
                        <a href="{% url 'products:detail' product.id %}" style="text-decoration:none">
                            <div class="title">{{product.title_text}}</div>
                            <img loading='lazy' src="{{MEDIA_URL}}{{product.images.all.0.image_url}}" alt="{{ product.images.all.0.alt_text}}">
                            <span> ${{product.price_number}} </span>
                        </a>
                    </div>
                </li>

            {% endfor %} 
            </ul>
        </div>
        {% endif %}


        {%include "products/components/footer.html"%} 
        
        <script src="" async defer></script>
    </body>
</html>