<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!<![endif]-->
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>LocalxDeal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/indexStyle.css" %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:ital">

    </head>
    <body>

        {% include "products/components/header.html" %}

        <h1>Current Products</h1>

        {% if products_list %}
            <div class='product-list'>
                <ul>
                {% for product in products_list %}    
                    <li>
                        <div class="productContainer">
                            
                            <a href="{% url 'products:detail' product.id %}" style="text-decoration:none">
                                <div class="title">{{product.title_text}}</div>
                                <img loading='lazy' src="{{MEDIA_URL}}{{product.images.all.0.image_url}}" alt="{{ product.images.all.0.alt_text}}">
                                <span> ${{product.price_number}} </span>
                            </a>
                        </div>
                    </li>
                {% endfor %} 
                </ul>
            </div>
        {%else%}
            <p> No products available </p>
        {%endif%}
        

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"> Last &raquo;</a>
                {% endif %}
            </span>
        </div>

        <footer>
            <div>
                <p>&copy; 2024 Etenda.</p>
            </div>
            <div>
                <ul>
                    <li><a href="/terms">Terms of Service</a></li>
                    <li><a href="/privacy">Privacy Policy</a></li>
                    <!-- Add more links as needed -->
                </ul>
            </div>
        </footer> 
        
        <script src="{% static "javascript/index.js" %}" async defer></script>
    </body>
</html>