<!DOCTYPE html>
{% load static %}
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>LocalxDeal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "css/indexStyle.css" %}">  <!--need to make the search style!-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:ital">
        <script>0</script>

    </head>
    <body>

    {% include "products/components/header.html" %}

<h1>Search Results</h1>

{% if object_list%}
    <ul>
    {% for product in object_list %}
        <li>
        <a href={% url 'products:detail' product.id%}>
        {{ product.title_text }}, {{ product.price_number }}
        </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <span> No items found</span>
{% endif %}

{%include "products/components/footer.html"%}

<script src="" async defer></script>
</body>
</html>